$('.comment_list').html("")
<% @post.comments.each do |comment| %>
  $('.comment_list').append('<%= "Posted #{time_ago_in_words(comment.created_at)} ago" %><br>').append("<%= comment.body %><br>")
<% end %>
