<h2>Comments</h2>
<div class="comment_list">
  <% @post.comments.each do |comment| %>
    <%= "Posted #{time_ago_in_words(comment.created_at)} ago" %><br>
    <%= comment.body %><br>
  <% end %>
</div>
<%= form_for([@post, Comment.new], remote:true) do |f| %>

  <div class="field">
    <%= f.label :new_comment %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
