@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: fade-out(black, 0.3);
  margin: 0;
  padding: 0;
}

.jumbotron{
  margin-bottom: 0;
}

.site-wrapper{
  background-color: grey;
  margin-top: 0;
  padding: 20px;
  min-height: 800px;
}

.comment_list{
  background-color: darken(grey, 10%);
}
