<header class="jumbotron text-center">
  <h1><%= @page_header %></h1>
  <% if !notice.blank? or !alert.blank? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
</header>
