<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/nav" %>
  <%= render "layouts/header" %>
  <div class="site-wrapper container text-center">
    <%= yield %>
  </div>
</body>
</html>
